<?xml version="1.0" encoding="gb2312"?>
<config>
  <item xtype="GridView" name="grid" style="{height:'100px'}" columns="[{text:'关键词',width:200,name:'key',xtype:'TextBox'},{text:'替换词',width:200,name:'rkey',xtype:'TextBox'}]">
    <data>
      <key>a112122</key>
      <rkey>b233</rkey>
    </data>
    <data>
      <key><![CDATA[网上报名]]></key>
      <rkey><![CDATA[]]></rkey>
    </data>
  </item>
</config>