<?xml version="1.0" encoding="gb2312"?>
<config>
  <item labelText="网站主域名" name="domain">www.mwms4.com</item>
  <item labelText="绝对路径转换" name="absolutepathTag" xtype="CheckBox" items="[{'text':'转换',value:1}]">1</item>
  <item labelText="子域名旧页面" name="oldSubdomainsPage" xtype="SelectBox" items="[{'text':'返回404',value:0},{'text':'301跳转至新页面',value:1},{'text':'保持原访问',value:2}]">0</item>
  <item labelText="备份周期" name="backupDay">0</item>
</config>